<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
  <% if @user == current_user.id %>
  <p><%= link_to "マイページ編集", edit_user_path(@user) %></p>
  <% end %>
</div>

<!-- ユーザーの投稿一覧 -->

<% @posts.each do |post| %>
<div>
  <%= link_to post_path(post.id) do %>
    <%= image_tag post.get_image %>
  <% end %>
  <p>タイトル：<%= post.title %></p>
  <p>感想：<%= post.body %></p>
  <p>投稿ユーザー画像：<%= image_tag 'no_image.jpg' %></p>
  <p>ユーザーネーム：<%= post.user.name %></p>
</div>
<% end %>