<h1>口コミ一覧</h1>
<%= @posts.each do |post| %>
  <div>
  <%= link_to post_path(post.id) do %>
    <%= image_tag post.get_image %>
  <% end %>
    <p>タイトル：<%= post.title %></p>
    <p>感想：<%= post.body %></p>
    <%= image_tag post.get_image %>
    <p>投稿ユーザー画像：<%= image_tag 'no_image.jpg' %></p>
    <p>ユーザーネーム：<%= post.user.name %></p>
  </div>
<% end %>